[Unit]
Description=Main NNCP tosser

[Service]
ExecStart=/usr/local/bin/nncp-toss -noprogress -cycle 60 -seen
Restart=always
User=nncp
Group=nncp

[Install]
WantedBy=multi-user.target
