[Unit]
Description=NNCP caller

[Service]
ExecStart=/usr/local/bin/nncp-caller -noprogress
Restart=always
User=nncp
Group=nncp

[Install]
WantedBy=multi-user.target
